---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import "font-awesome";

@import "bootswatch/cosmo_hack/variables";
@import "bootstrap";
@import "bootswatch/cosmo_hack/bootswatch";

body {
	background: #f1f1f1;
}

#navBar {
	margin-bottom: 0;
	// border-bottom: none;
	li a {
		color: $brand-primary;
		font-family: courier;
	}

	.navbar-brand {
		font-size: 17px;
	}
}

#navPills {
	// margin: 5px 0;
	padding: 5px 0;
}

.courier {
	font-family: courier;
}

#homeJumbo {

	color: #fff;
	
	background: #222222; /* Old browsers */
	background: -moz-linear-gradient(top,  #222222 0%, #090909 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#090909)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #222222 0%,#090909 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #222222 0%,#090909 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #222222 0%,#090909 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #222222 0%,#090909 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#090909',GradientType=0 ); /* IE6-9 */
	
	h1 {
		font-family: courier;
		color: #fff;
		small {
			font-family: $font-family-sans-serif;
			font-size: 45%;
			color: #bbb;
			text-transform: uppercase;
		}
	}
}

#announcements {

}

// all but xs
@media (min-width: $screen-sm-min) {
	// nav

	#navBar {
		.navbar-brand {
			font-size: 19px;
		}
	}

	footer {
		nav {
			text-align: right !important;
		}
	}
}

// news images
.media-list.news .media-object { width: 96px; max-width: 64px; }
@media (min-width: 768px) {
	.media-list.news .media-object { max-width: 96px; }
}

// logo
#logo{margin-bottom: 15px;}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { #logo{margin-top: 125px;} }
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { #logo{margin-top: 90px;} }
@media (min-width: $screen-lg-min) { #logo{margin-top: 70px;} }