---
layout: default
---

<div class="jumbotron" id="homeJumbo">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="text-center">
					<img id="logo" src="/images/logo-code-white.png" alt="{{site.title}}" class="img-responsive">
				</div>
			</div>
			<div class="col-sm-7">
				<h2>
					<small>Coming in June</small><br>
					2016 {{site.title}}
				</h2>
				<p>
					Hillsborough County and our community technologists, entrepreneurs and developers invite you to create new and innovative applications for community solutions.
				</p>
				<a href="{{ site.eventbrite }}" target="_blank" class="btn btn-register-2015 btn-success">Register</a>
				<a href="{{ '/about/' | prepend: site.baseurl }}" class="btn btn-default">Learn More</a>
			</div>
		</div>

	</div>
</div>

<div class="container">


	{% if false %}
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ '/about/' | prepend: site.baseurl }}">
					<i class="fa fa-fw fa-info-circle"></i>
					June 5-7 <em class="small">5426 Bay Center Drive<span class="hidden-xs">, Suite 700, Tampa</span></em>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right">
					<p class="navbar-text text-right">
						<a href="{% post_url 2015-04-10-national-civic-hacking-day %}" class="navbar-link">
							National Day of Civic Coding
							<i class="fa fa-fw fa-code"></i>
						</a>
					</p>
				</ul>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	{% endif %}

	<p class="lead">
		Bringing together urbanists, civic hackers, government staff, developers, designers, community organizers and anyone with the passion to make their city better. They will collaboratively build new solutions using publicly-released data, technology, and design processes to improve our communities and the governments that serve them. Anyone can participate; you don't have to be an expert in technology, you just have to care about your neighborhood and community.
	</p>

</div>

{% if false %}
<div class="jumbotron" id="announcements">
	<div class="container">
		<h3>Announcements</h3>
	</div>
</div>
{% endif %}

<div class="container">

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-4">
					<a href="{{ '/about/' | prepend: site.baseurl }}">
						<img src="/images/application.png" alt="Abstract Image of Mobile Phone Application" class="img-responsive">
					</a>
					<div class="caption">
						<h3>UX Experts</h3>
						<p class="lead auto-height">
							Do you have a strong interest in the design and development of engaging user experiences?
						</p>
						<p class="text-right">
							<a href="{{ '/about/' | prepend: site.baseurl }}" class="">More Info</a>
						</p>
					</div>
				</div>
				<hr class="visible-xs">
				<div class="col-sm-4">
					<a href="{{ '/about/' | prepend: site.baseurl }}">
						<img src="/images/code.png" alt="Abstract Image of Computer Code" class="img-responsive">
					</a>
					<div class="caption">
						<h3>Developers</h3>
						<p class="lead auto-height">
							Do you enjoy creating while following design and implementation principles?
						</p>
						<p class="text-right">
							<a href="{{ '/about/' | prepend: site.baseurl }}" class="">More Info</a>
						</p>
					</div>
				</div>
				<hr class="visible-xs">
				<div class="col-sm-4">
					<a href="{{ '/about/' | prepend: site.baseurl }}">
						<img src="/images/circuit-board.png" alt="Abstract Image of a Computer Motherboard" class="img-responsive">
					</a>
					<div class="caption">
						<h3>Programmers</h3>
						<p class="lead auto-height">
							Do you find yourself solving problems by manipulating computer code?
						</p>
						<p class="text-right">
							<a href="{{ '/about/' | prepend: site.baseurl }}" class="">More Info</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-5 col-lg-offset-1 col-sm-6 text-center">
			<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/Code4Hills" data-widget-id="591240003193274368">#Code4Hills Tweets</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="col-lg-5 col-sm-6 text-center">
			<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/HackForChange" data-widget-id="591248835411869698">#HackForChange Tweets</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>

</div>
